html {
    font-family: 'Arial';
    min-height: 100vh;
}

body {
    margin: 0;
    font-size: 16px;
}

/* HEADER and FOOTER options */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: #f6f6f6;*/
    margin-bottom: 10px;
    /*box-shadow: 0 0 1px rgba(0,0,0,0.5);*/
}

header h1, header h4 {
    text-align: center;
    margin: 0;
}

header h1 {
    margin: 2rem 0 1rem 0;
    font-family: 'Roboto', sans-serif;
}

header h4 {
    font-weight: normal;
    margin: 0 0 2rem 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    /*background: #f6f6f6;*/
}

footer span {
    display: block;
}

.divider {
    height: 1px;
    border:none;
    background: #cccccc;
    width:100%;
    background: -webkit-gradient(
            linear,
            0 0,
            100% 0,
            from(rgba(50,50,50,0.01)),
            to(rgba(80,80,80,0.01)),
            color-stop(.5,#c9c9c9)
    );
    background: -moz-linear-gradient(
            left,
            rgba(0,0,0,0.001) 0%,
            rgba(201,201,201,1) 50%,
            rgba(0,0,0,0.001) 100%
    );
    background:-ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:-o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

/* Gallery content options */

.content {
    min-height: calc(100vh - 60px - 10px);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 15px;
}

.gallery .item {
    position: relative;
    height: 320px;
    overflow: hidden;
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 1px;
    flex-grow: 1;
    flex-basis: 25%;
    margin: 5px;
}

.gallery .item .info {
    position: absolute;
    display: none;
    align-items: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #000000) no-repeat bottom;
    background-size: 100% 35%;
    background-position-y: 110%;
}

.gallery .item:hover .info {
    display: flex;
}

.gallery .item .info span {
    display: block;
    color: white;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 1.3rem;
}

.gallery .item:hover {
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}

.gallery .item:nth-child(1), .gallery .item:nth-child(7n + 1){
    min-width: 550px;
}

.gallery .item:nth-child(4), .gallery .item:nth-child(7n + 4){
    min-width: 460px;
}

.gallery .item a {
    width: 100%;
    height: 100%;
}

.gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.last-item {
    flex-grow: 100;
    visibility: hidden;
    height: 0px;
}

/* modal window */

.modal {
    position: fixed;
    background: white;
    max-height: 80vh;
    max-width: 80vw;
    margin: auto;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 5px;
    display: none;
    box-shadow: 0 15px 60px rgba(0,0,0,0.9);
}

.modal .image {
    position: relative;
    max-width: calc(80vw - 30px);
    max-height: calc(80vh - 86px);
    text-align: center;
}

.modal .image img {
    max-width: calc(80vw - 30px);
    max-height: calc(80vh - 86px);
}

.modal .modal-header {
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.modal .modal-header .title {
    font-size: 1.5rem;
}

.modal .close {
    align-self: flex-end;
    font-size: 2.7em;
    line-height: 1;
    color: #aaa;
    font-weight: bold;
    z-index: 4;
    margin-left: auto;
}

.modal .close:hover {
    cursor: pointer;
    color: #cfcfcf;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8); /*dim the background*/
    display: none;
}

/* less than 550px */

@media (max-width: 550px) {

    header h1 {
        font-size: 1.3rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    header h4 {
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .gallery .item {
        flex-basis: 100%;
    }

    .gallery .item:nth-child(1), .gallery .item:nth-child(7n + 1){
        min-width: 0;
    }

    .gallery .item:nth-child(4), .gallery .item:nth-child(7n + 4){
        min-width: 0;
    }

    .modal {
        max-height: 100vh;
        max-width: 100vw;
    }

    .modal .image {
        max-width: calc(100vw - 30px);
        max-height: calc(100vh - 86px);
    }

    .modal .image img {
        max-width: calc(100vw - 30px);
        max-height: calc(100vh - 86px);
    }

    .modal .close {
        font-size: 3.5rem;
    }

}

/* from 551px to 1440px*/
@media (min-width: 551px) and (max-width: 1440px) {
    .header {
        max-width: 820px;
    }

    .description {
        max-width: 650px;
    }

    header h1 {
        font-size: 2.2rem;
    }

    header h4 {
        font-size: 1.1rem;
    }

    .modal .close {
        font-size: 2.7rem;
    }
}

/* more than 1441px */

@media (min-width: 1441px) {

    .header {
        max-width: 1020px;
    }

    .description {
        max-width: 750px;
    }

    header h1 {
        font-size: 2.6rem;
    }

    header h4 {
        font-size: 1.4rem;
    }

    .gallery .item {
        flex-basis: 15%;
    }
}
